html,body{
    scroll-behavior: smooth;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 10%;
    float: left;
    margin-top: 10%;
}

.orange{
    color: #FC7A1E;
}

.container{
    background-color: rgb(107, 105, 105);
    width: 70%;      
}

​.navbar{
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.prato{
    margin-left: 15%;
    max-width: 600px;
}

.curiosidades{
    text-align: center;
}

.laranja {
  margin-left: 202px;
  float: left;
  background-color: #FC7A1E;
  margin-top: 7%;
  color: white;
  max-width: 2000px;
}

.branco {
    margin-right: 202px;
    float: right;
    background-color: white;
    margin-top: 7%;
    color: #FC7A1E;
    max-width: 2000px
}

#titulo{
    margin-top: 10%;
}

#texto{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 10%;
    float: right;
    font-style: italic;
}

#quem{
    margin-top: 10%;
}

#quems{
    margin-top: 10%;
} 

#carouselExampleSlidesOnly{
    background-color: rgb(230, 230, 230);
    width: 50%;
    margin-left: 25%;
}