.container_bg{
    background-color: white;
    padding-top: 100px;
}

.container{
    min-height: 50vh;
}

.centro{
    text-align: center;
}

.container h2{
    color: brown;
    font-weight: 600;
}

.container p{
    text-align: justify;
}